[submodule "lib/contenticious"]
	path = lib/contenticious
	url = https://github.com/Real-Currents/contenticious.git
[submodule "content/dev"]
	path = content/dev
	url = https://github.com/dancingfrog/README.git
