<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  <link href="/global.css" rel="stylesheet">
{{ $stylesheet := .Site.Data.assets.main }}
  {{ with $stylesheet.css }}<link href="{{ relURL . }}" rel="stylesheet">
{{ end }}

  <script src="scripts/debugger.js"></script>
</head>

<body>

{{ block "header" . }}{{end}}

{{ block "main" . }}{{end}}

{{ block "footer" . }}{{end}}

{{ $script := .Site.Data.assets.main }}
{{ with $script.js }}
  <script src="{{ relURL . }}"></script>
{{ end }}

</body>

</html>
