:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

body, html, * {
  font-family: Comfortaa;
}

body {
  width:100%;
  margin:0;
  padding:0;
  border:0 transparent;
  font-size:1em;
  color:#e3ddff;
  text-align:left;
  line-height:125%;
  overflow-y:scroll;
}

* iframe {
  background-color:#fff;
}

* h1, * h2, * h3, * h4, * h5 {
  color:#7f7fff;
}

* h1 {
  margin-bottom:8px;
  font-size:2.8em;
  font-weight:700;
  line-height:105%;
}

main {
  width: auto;
  padding: 10px 2vw 10px 2vw;
}

@media (max-width: 604px) {
  main {
    width: 100vw;
    padding-top: 0;
  }
}

.main > * p {
  line-height: 1.5em;
}

div#content {
  width:604px;
  min-width:360px;
  /*max-height:80px;*/
  margin:0 0 0 86px;
}

@media (max-width: 604px) {
  div#content {
    width: 100vw;
    min-width:360px;
    /*max-height:80px;*/
    margin:0 0 0 0px;
  }
}

#content h2, * h2 {
  clear: both;
  margin-bottom:12px;
  font-size:1.75em;
  font-weight:700;
  line-height:100%;
}

#content h3, * h3 {
  clear: both;
  margin-bottom:4px;
  font-size:1.5em;
  font-weight:700;
  line-height:100%;
}

#content h4, * h4{
  clear: both;
  margin-bottom:2px;
  font-size:1.25em;
  font-weight:700;
  line-height:125%;
}

#content h5, * h5 {
  clear: both;
  margin-bottom:0;
  font-size:1em;
  font-weight:700;
  line-height:100%;
}

#content * p, * p {
  clear: both;
  padding-top:8px
}

#content * li, #content * p, * li, * p {
  color:#e3ddff;
  padding-left:2px;
  padding-right:12px;
  line-height: 24px;
}

#content * li, * li {
  padding-bottom:4px
}

#content * a, * a, * a:visited {
  color:#7f7fff;
  font-weight:700;
  text-decoration:none;
}

#content * pre, * pre {
  display:block;
  min-width:604px;
  overflow-x:auto;
  padding-left:0;
  padding-right:0
}

@media (max-width: 604px) {
  #content * pre, * pre {
    min-width:100vw;
  }
}

div#content * img {
  margin:8px -4px 0 0
}

div#content * img[alt^=Stymaps] {
  width:226px;
}

div#content * img[src$=svg] {
  width:604px;
}

@media (max-width: 604px) {
  div#content * img[src$=svg] {
    width:100%;
  }
}

div#content div#version {
  position:fixed;
  left:2px;
  bottom:2px;
  font-size:10pt
}

div#content div#version * {
  font-size:10pt;
  margin-left:8px;
}

div#content div#version * img {
  width:72px;
  height:72px;
  margin-left:-4px;
  margin-bottom:-8px;
}

div#content h2, div#content h3, div#content h4 {
  padding-top:6px;
  padding-right:4px;
}

div#content h3 {
  width: 604px;
  min-width: 360px;
  min-height: 54px;
  margin-top: 52px;
  border-top: 2px solid #7f7fff;
}

@media (max-width: 604px) {
  div#content h2 {
    width: 100%;
  }
}

div#content h3.section, div#content h3.section.level3 {
  width: 604px;
  min-width: 360px;
  min-height: 154px;
  margin-top: 52px;
  border-top:2px solid #7f7fff;
}

@media (max-width: 604px) {
  div#content h3.section, div#content h3.section.level3 {
    width:100%;
  }
}

div#content>h4, div#content>p {
  margin-top:10px;
  margin-bottom:30px;
}

div#content>ul {
  margin-bottom:60px
}

div#content * a {
  font-weight:700;
  text-decoration:none;
  color:#a277ff;
}

div#content * .r-data pre {
  display:block;
  display:-webkit-box;
  max-width:800px;
  overflow:hidden;
  overflow-x:auto;
  text-overflow:ellipsis;
  -webkit-line-clamp:9;
  -webkit-box-orient:vertical;
}

div#content * img {
  float:right;
  width:320px;
  margin-top:-2px;
  margin-bottom:-1px;
}

div#content * .python+p img, div#content * .r+p img, div#content * .r-mapping * img {
  float:none;
  margin:auto;
  width:100%;
}

div#control {
  position:fixed;
  bottom:2.5%;
  width:100%;
  text-align:center;
  background-color:transparent;
}

div#control #toggle_control {
  display:inline-block;
  color:#fff;
  padding-top:2px;
  min-height:22px;
  min-width:256px;
  max-width:256px;
  background-image:url(images/txt_bubble.png);
}

span#mode {
  font-variant:small-caps;
}

div#transparent_background {
  position:relative;
  width:800px;
  min-width:540px;
  min-height:9999px;
  margin:0 auto;
  background-color:#191919;
  opacity:.75;
  filter:alpha(opacity=75);
}

@media (max-width: 604px) {
  div#transparent_background {
    position: relative;
    width: 100vw;
    min-width: auto;
  }
}

div#home_screen {
  position:relative;
  margin:-9999px auto 0;
  width:800px;
  min-width:604px;
  min-height:100%;
  padding-top:8px;
}

@media (max-width: 604px) {
  div#home_screen {
    width: 100vw;
    min-width: 100vw;
  }
}

div#trademark {
  float:left;
  min-width:82px;
  max-width:82px;
  height:10%;
  min-height:68px;
  max-height:80px;
  color:#7f7fff;
  font-size:15px;
  text-align:right;
  line-height:155%;
  padding-right:4px;
  border-right:2px solid #7f7fff;
}

@media (max-width: 604px) {
  div#trademark {
    display: none;
  }
}

div#title {
  padding-top:16px;
  width:604px;
  min-width:360px;
  max-width:604px;
  height:80px;
  max-height:72px;
  margin-left:88px;
  margin-top:-2px;
  margin-bottom:-12px;
  font-variant:small-caps;
  /*border-top: 2px solid #7f7fff;*/
}

@media (max-width: 604px) {
  div#title {
    margin-top: 0;
    padding-top: 24px;
    margin-left:0;
    width: 100%;
    min-width: 100vw;
  }
}

div.titles * {
  color:#7f7fff;
}

div#title h1 {
  margin-top:-20px;
  margin-left:10px;
  margin-bottom:-12px;
  font-size:4.75em;
  font-variant:small-caps;
}

@media (max-width: 604px) {
  div#title h1 {
    font-size: calc(14vw);
  }
}

* #background_container {
  position: fixed;
  display: block;
  top: 0px;
  left: auto;
  right: auto;
  height: 100%;
  margin: auto 0px;
  padding: initial;
  border: 0px transparent;
  overflow: hidden;
  background: #000 url('images/PlanetEarthBluePlanet.png') no-repeat center;
  background-size: contain;
}

@media (max-width: 604px) {
  * #background_container {
    background-size: cover;
  }
}

* #background_container #background_app {
  display:flex;
  align-items:center;
}

* #background_container #background_app canvas {
  width:1280px;
  height:720px;
}

* #background_container #built_with {
  position:fixed;
  margin-bottom:2px;
  bottom:0;
  right:0;
  font-size:10pt;
}
