{{ define "header" }}

<div id="uni-sol" style="min-width:604px">
    <main id="svelte-app" role="main" style="min-width:604px">
    </main>

    <!--% if (config 'copyright') { %-->
    <p id="copyright">
        <!--%= 1900 + (localtime)[5] %-->
        <!--%= config 'copyright' %-->
    </p>
    <!--% } %-->
    <p id="built_with">
        ...built with <a href="https://github.com/Real-Currents/SveltR" target="_blank">SveltR</a>.
    </p><!--footer -->
</div>

<div id="transparent_background" style="min-width:604px"></div>
<div id="home_screen" style="min-width:604px">
    <div id="trademark">
        IxD:<br />
        Web:<br />
        Viz:<br />
    </div>

    <div id="title" class="titles" style="min-width:604px">
        <h1><!--%
            {
            no strict 'vars';
            if( defined $t and ($t !~ /Real~Currents/) ) {
            %><%= $t || 'Mojo::Debut' %><%
            } else {
            %--><a href="/">
                <span style="color:#00FF00">Real</span><span style="color:rgb(17,187,255)">~Currents</span>
            </a><!--%
            }
            }
            %-->
        </h1><br />
        <!--span id='mode'>reading: </span><a id='read_site' href=''></a-->
    </div>
    <br />
    <br />

    <div id="content" style="min-width:604px">
{{ end }}
