/* 
File: new_home.css
Note: uni-sol.ca default style sheet 
*/

@font-face {
  font-family: 			"Comfortaa";
  font-weight: 			normal;
  font-style: 			normal;
  src: url("../fonts/comfortaa-light-webfont.woff") format("woff"),
    url("../fonts/comfortaa-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family:			"Comfortaa";
  font-weight: 			bold;
  font-style: 			normal;
  src: url("../fonts/comfortaa-regular-webfont.woff") format("woff"),
    url("../fonts/comfortaa-regular-webfont.ttf") format("truetype");
}

body {
  background-color:		transparent;
  width:				100%;
  margin: 				0 0 0 0;
  padding: 				0 0 0 0;
  border:				0px transparent;
  font-family: 			Comfortaa;
  font-size: 			1em;
  color: 				#e3ddff;
  text-align: 			left;
  line-height: 			115%;
  overflow-y: 			scroll;
}

* iframe {
	background-color: 	#ffffff;
}

* h1, h2, h3, h4, h5 {
  color:  				#7f7fff;
}

* h1 {
  margin-bottom: 		8px;
  font-size: 			2.8em;
  font-weight: 			bold;
  color:  				#7f7fff;
  line-height: 			105%;
}

* h2 {
  margin-bottom: 		6px;
  font-size: 			2.3em;
  font-weight: 			bold;
  line-height: 			75%;
}

* h3 {
  margin-bottom: 		4px;
  font-size: 			1.6em;
  font-weight: 			bold;
  line-height: 			85%;
}

* h4 {
  margin-bottom: 		2px;
  font-size: 			1.3em;
  font-weight: 			bold;
  line-height: 			125%;
}

* h5 {
  margin-bottom: 		0;
  font-size: 			1em;
  font-weight: 			bold;
  line-height: 			100%;
}


* p {
  color: 				#e3ddff;
  padding-left: 		2px;
  padding-right: 		2px;
}

* a {
  font-weight: 			bold;
  text-decoration: 		none;
  color: 				#a277ff;
}

* pre {
    display: block;
    max-width: 480px;
    overflow-x: auto;
}

div#transparent_background {
  position: 			relative;
  width: 				640px;
  min-width: 			540px;
  min-height: 			6400px;
  margin: 				0 auto 0 auto;
  background-color: 	rgb(25, 25, 25);
  opacity:				0.75; 
  filter:				alpha(opacity=75); /* For IE8 and earlier */
}

div#home_screen {
  position: 			relative;
  margin: 				-6400px auto 0 auto;
  width: 				640px;
  min-width: 			460px;
  min-height: 			100%;
  padding-top:			8px;
  border-top: 			1px solid rgb(60, 60, 60);
  /*overflow: 			hidden;*/
}

div#trademark {
  float: 				left;
  min-width: 			80px;
  max-width: 			80px;
  height: 				80px;
  max-height: 			80px;
  margin-right: 		10px;
  color:  				#7f7fff;
  text-align: 			right;
  line-height: 			155%;
  padding-right: 		4px;
  border-right: 		2px solid #7f7fff;
}

div#title {
  width: 				460px;
  min-width: 			360px;
  max-width: 			460px;
  height: 				80px;
  max-height: 			80px;
  margin: 				0 0 0 80px;
  /*border-bottom: 		1px solid #fff;*/
}

div.titles * {
  color:  				#7f7fff;
}

div#title h1 {
  margin-top: 			-2px;
  margin-left:			10px;
  margin-bottom:		-12px;
  font-variant: 		small-caps; 
}

span#mode {
  font-variant: 		small-caps;
}

div#content {
  width: 				460px;
  min-width: 			360px;
  max-height: 			80px;
  margin: 				0 0 0 86px;
  /*border-bottom: 		1px solid #fff;*/
}

div#content * img {
  margin:               8px -4px 12px 0px;   
}
div#content * img[alt^="Stymaps"] {
  width:                226px;
}
div#content * img[src$="svg"] {
  width:                480px;
}

div#content div#version {
  position:			fixed;
  left:				2px;
  bottom:			2px;
  font-size:		10pt;
}
div#content div#version * {
  font-size:		10pt;
	margin-left:	8px;
}
div#content div#version * img {
	width:			72px;
	height:			72px;
	margin-left:	-4px;
	margin-bottom:	-14px;
}

div#content div.revlin h3 {
	min-height:		180px;
	border-top:		2px solid #7f7fff;
	padding-top:	6px;
	padding-right:	4px;
}
div#content div.revlin p {
	margin-top: 	-10px;
	margin-bottom:	60px;
}
div#content div.revlin * img {
	position:		relative;
	float:			right;
	width:			320px;
	margin-top: 	-2px;
	margin-bottom: 	-1px;
}

div#control {
	position: 		fixed;
	bottom:			4px;
	width:			100%;
	text-align:		center;
	background-color: transparent;
}
div#control #toggle_control {
	display:		inline-block;
	color:			#FFF;
	padding-top:	2px;
	min-height:		22px;
	min-width: 		256px;
	max-width:		256px;
	background-image: url('../images/txt_bubble.png');
}

* #uni-sol {
	position:		fixed;
	display:		block;
	top:			0;
	left:			0;
	margin:			0;
	padding:		0;
	border:			0px transparent;
	width:			100%;
	overflow:		hidden;
}

* #layer0 {
	width:			100%;
}

* #layer1 {
	width:			100%;
}

* #layer2 {
	width:			100%;
}

* #layer3 {
	width:			100%;
}

* #layer4 {
	width:			100%;
}

* #layer5 {
	width:			100%;
}

* #layer6 {
	width:			100%;
}

* #layer7 {
	width:			100%;
}

* #layer8 {
	width:			100%;
}

* #layer9 {
	width:			100%;
}
