@import url("imports/reset.css");

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    width: 99.9%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    color: white;
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.content {
    width: 100%;
    padding: 0;
}

.content main, .content * p {
    width: 100%;
}

.content * .container * {
    image-rendering: optimizespeed !important;
}

.content * .container.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
}

.content * .r-data pre {
    display: block;
    display: -webkit-box;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.content * img {
    float:			right;
    width:			320px;
    margin-top: 	-2px;
    margin-bottom: 	-1px;
}

.content * .r + p img {
    float:			none;
    margin:         auto;
    width:			100%;
}

.section {
    width: 100%;
}

pre {
    /*width: 72.5%;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background: rgba(66, 66, 66, 0.5);
}

pre code {
    max-width: 1024px;
    min-width: max-content;
    display: list-item;
    word-wrap: break-word;
}

.controls {
    position: absolute;
    margin: -50% 8px 8px 0px;
    color: #282c34;
    width: 300px;
    padding: 1em;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 2px;
    z-index: 2;
}

.controls.right {
    float: right;
    left: 50vw;
}

.controls.fullscreen {
    position: fixed;
    left: auto;
    right: 0;
    margin-top: 0;
}

.controls label {
    clear: both;
    margin: 2px;
}

.controls label input[type="color"] {
    clear: both;
    margin: 10px 100px 10px;
}


@media screen and (max-width: 604px) {

    pre {
        width: 100%;
    }

    .controls {
        position: relative;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .controls.right {
        position: relative;
        float: none;
        left: auto;
    }

}



@font-face {
    font-family: 			"Comfortaa";
    font-weight: 			normal;
    font-style: 			normal;
    src: url("../fonts/comfortaa-light-webfont.woff") format("woff"),
    url("../fonts/comfortaa-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family:			"Comfortaa";
    font-weight: 			bold;
    font-style: 			normal;
    src: url("../fonts/comfortaa-regular-webfont.woff") format("woff"),
    url("../fonts/comfortaa-regular-webfont.ttf") format("truetype");
}

html, body {
    font-family:			"Comfortaa";
    min-width:			604px;
    background:		#000;
}

body {
    width:				100%;
    margin: 				0 0 0 0;
    padding: 				0 0 0 0;
    border:				0px transparent;
    font-family: 			Comfortaa;
    font-size: 			1em;
    color: 				#e3ddff;
    text-align: 			left;
    line-height: 			125%;
    overflow-y: 			scroll;
}

* iframe {
    background-color: 	#ffffff;
}

* h1, h2, h3, h4, h5 {
    color:  				#7f7fff;
}

* h1 {
    margin-bottom: 		8px;
    font-size:            2.8em;
    font-weight: 			bold;
    color:  				#7f7fff;
    line-height: 			105%;
}

* h2, #content h2 {
    margin-bottom: 		12px;
    font-size: 			1.75em;
    font-weight: 			bold;
    line-height: 			100%;
}

* h3, #content h3 {
    margin-bottom: 		4px;
    font-size: 			1.5em;
    font-weight: 			bold;
    line-height: 			100%;
}

* h4, #content h4 {
    margin-bottom: 		2px;
    font-size: 			1.25em;
    font-weight: 			bold;
    line-height: 			125%;
}

* h5, #content h5 {
    margin-bottom: 		0;
    font-size: 			1em;
    font-weight: 			bold;
    line-height: 			100%;
}

* p, #content * p {
    color: 				#e3ddff;
    padding-top:			8px;
    padding-left: 		2px;
    padding-right: 		2px;
}

* li, #content * li {
    color: 				#e3ddff;
    padding-bottom:			4px;
    padding-left: 		2px;
    padding-right: 		2px;
}

* a , * a:visited, #content * a {
    color: 				#7f7fff;
    font-weight: 			bold;
    text-decoration: 		none;
}


* pre, #content * pre {
    display: block;
    min-width: 604px;
    overflow-x: auto;
}

div#transparent_background {
    position: 			relative;
    width: 				800px;
    min-width: 			540px;
    min-height: 			9999px;
    margin: 				0 auto 0 auto;
    background-color: 	rgb(25, 25, 25);
    opacity:				0.75;
    filter:				alpha(opacity=75); /* For IE8 and earlier */
}

div#home_screen {
    position: 			relative;
    margin: 				-9999px auto 0 auto;
    width: 				800px;
    min-width: 			604px;
    min-height: 			100%;
    padding-top:			8px;
}

div#trademark {
    float: 				left;
    min-width: 			82px;
    max-width: 			82px;
    height: 				10%;
    min-height:           68px;
    max-height: 			80px;
    color:  				#7f7fff;
    font-size:			15px;
    text-align: 			right;
    line-height: 			155%;
    padding-right: 		4px;
    border-right: 		2px solid #7f7fff;
}

div#title {
    padding-top:			16px;
    width: 				604px;
    min-width: 			360px;
    max-width: 			604px;
    height: 				80px;
    max-height: 			72px;
    margin-left: 80px;
    margin-top: -2px;
    margin-bottom: -12px;
    font-variant: small-caps;
}

div.titles * {
    color:  				#7f7fff;
}

div#title h1 {
    margin-top: 			-16px;
    margin-left:			10px;
    margin-bottom:		-12px;
    font-size:          4.8em;
    font-variant: 		small-caps;
}

span#mode {
    font-variant: 		small-caps;
}

div#content {
    width: 				604px;
    min-width: 			360px;
    max-height: 			80px;
    margin: 				0 0 0 86px;
    width: 472px;
    min-width: 360px;
    max-height: 80px;
    margin: 0px 0px 0px 86px;
}

div#content * img {
    margin:               8px -4px 0px 0px;
}
div#content * img[alt^="Stymaps"] {
    width:                226px;
}
div#content * img[src$="svg"] {
    width:                604px;
}

div#content div#version {
    position:			fixed;
    left:				2px;
    bottom:			2px;
    font-size:		10pt;
}
div#content div#version * {
    font-size:        10pt;
    margin-left:      8px;
}
div#content div#version * img {
    width:			72px;
    height:			72px;
    margin-left:	-4px;
    margin-bottom:	-8px;
}

div#content h3 {
    width:          604px;
    min-width:      360px;
    min-height:		154px;
    border-top:		2px solid #7f7fff;
    padding-top:	6px;
    padding-right:	4px;
}
div#content h4 {
    padding-top:	6px;
    padding-right:	4px;
}
div#content > p, div#content > h4 {
    margin-top: 	10px;
    margin-bottom:	30px;
}
div#content > ul {
    margin-bottom:	60px;
}
div#content * a {
    font-weight: 			bold;
    text-decoration: 		none;
    color: 				#a277ff;
}

div#content * .r-data pre {
    display: block;
    display: -webkit-box;
    max-width: 800px;
    overflow: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

div#content * img {
    float:			right;
    width:			320px;
    margin-top: 	-2px;
    margin-bottom: 	-1px;
}

div#content * .r + p img {
    float:			none;
    margin:         auto;
    width:			100%;
}

div#control {
    position: 		fixed;
    bottom:			2.5%;
    width:			100%;
    text-align:		center;
    background-color: transparent;
}

div#control #toggle_control {
    display:		inline-block;
    color:			#FFF;
    padding-top:	2px;
    min-height:		22px;
    min-width: 		256px;
    max-width:		256px;
    background-image: url('images/txt_bubble.png');
}

* #uni-sol {
    position:		fixed;
    display:		block;
    top:			0;
    left:			auto;
    right:          auto;
    height:         100%;
    margin:			auto 0 auto 0;
    padding:        initial;
    border:			0px transparent;
    overflow:		hidden;
}

* #uni-sol main#svelte-app {
    display: flex;
    align-items: center;
}

* #uni-sol main#svelte-app canvas {
    width: 1280px;
    height: 720px;
}

* #uni-sol #built_with {
    position:		fixed;
    margin-bottom: 	2px;
    bottom:			0;
    right:			0;
    font-size:		10pt;
}
